body{
  background-color:#FBF6EE;
}

img{
  border:30px solid #ddd;
  border-radius:4px;
  padding:30px;
  width:200px;
}

h1{
  color:#FFB534;
  font-family: 'Architects Daughter', cursive;
}

h2{
  color:#65B741;
}

footer{
  font-size:14px;
}
